[submodule "bdl-frontend"]
	path = bdl-frontend
	url = https://github.com/rich-beggar/BDL-frontend.git
[submodule "bdl-backend"]
	path = bdl-backend
	url = https://github.com/rich-beggar/BDL-backend.git
[submodule "bdl-backend-fast-api"]
	path = bdl-backend-fast-api
	url = https://github.com/rich-beggar/BDL-backend-fast-api.git
